<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.crystalair.crystalair" >

    <uses-sdk android:minSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />

    <android:uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".PassengerLogin"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PassengerDetails"
            android:label="@string/title_activity_passenger_details"
            android:parentActivityName=".PassengerLogin"
            android:screenOrientation="landscape" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.crystalair.crystalair.PassengerLogin" />
        </activity>
        <activity
            android:name=".PassengerSignup"
            android:label="@string/title_activity_passenger_signup"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".BookTickets"
            android:label="@string/title_activity_book_tickets"
            android:screenOrientation="landscape" >
        </activity>
    </application>

</manifest>
